/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image-url: url(./../images/cover-image-light.png);
  --display-status: none;
  --color-text: #353430;
  --color-text-title: #ffc2e6;
  --color-decor-line: #353430;
  --color-background-subtitle: #ff8dcb;
  --color-style-button: #353430;
  --color-style-link: #353430;
  --color-link-shadow: #ff8dcb;
  --color-header-text: #353430;
  --color-text-content-header: #353430;
}
