/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex Mono';
  --font-size-text: 18px;
  --color-text: #353430;
  --font-size-subheader: 18px;
  --color-text-title: #ffc2e6;
  --color-shadow: #ff0070;
  --color-decor-line: #353430;
  --color-background-subtitle: #ff8dcb;
}
